@tailwind base;
@tailwind components;
@tailwind utilities;


.mat-mdc-snack-bar-container.snack-error{
    --mdc-snackbar-container-color:red;
    --mat-snack-bar-button-color:#fff;
    --mdc-snackbar-supporting-text-color:#fff;
}

.mat-mdc-snack-bar-container.snack-success{
    --mdc-snackbar-container-color:green;
    --mat-snack-bar-button-color:#fff;
    --mdc-snackbar-supporting-text-color:#fff;
}