.custom-delete-button {
    background-color: #ef4444 !important;  /* Tailwind's red-500 color */
  color: white !important; 
  border-color: #ef4444 !important; 
  border-radius: 5pt;
  align-items: center;
  }
  
  .custom-delete-button:hover {
    background-color: #dc2626 !important; /* Tailwind's red-600 color for hover effect */
    border-color: #dc2626 !important; 
  }

  .custom-edit-button {
    background-color: #3b82f6 !important; /* Tailwind's blue-500 color */
    color: white !important; 
    border-color: #3b82f6 !important; 
    border-radius: 5pt;
  
    display: flex; 
    align-items: center;
  }
  
  .custom-edit-button:hover {
    background-color: #2563eb !important; /* Tailwind's blue-600 color for hover effect */
    border-color: #2563eb !important; 
  }

  .custom-create-button {
    background-color: #22c55e !important; /* Tailwind's green-500 color */
    color: white !important; 
    border-color: #22c55e !important; 
    display: flex; 
    align-items: center;
    border-radius: 5pt;
  }
  
  .custom-create-button:hover {
    background-color: #16a34a !important; 
    border-color: #16a34a !important;
  }
  
  .icon-white {
    color: white !important; 
    margin-right: 8px; 
  }

  .icon-green {
    color: green !important; 
    margin-right: 8px; 
  }

  /* .custom-paginator {
    @apply flex items-center space-x-2 p-2 rounded-md shadow-md; 
    background: transparent; 
    border: none;
  }
  
  .custom-paginator .mat-paginator-range-label {
    @apply text-sm font-medium text-gray-700;
  }
  
  .custom-paginator .mat-button {
    @apply text-blue-600 hover:text-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500 rounded-md transition duration-150 ease-in-out;
  }
  
  .custom-paginator .mat-button:disabled {
    @apply text-gray-400 cursor-not-allowed;
  }
  
  .custom-paginator .mat-icon {
    @apply text-gray-500;
  } */